* {
    box-sizing: border-box;
    font-family: sans-serif;
  }

  body {
    margin: 0px;
    padding: 0;
    background-color:#ffffff ;
  }

  .cap{
    float: left;
    width: 100%;
    background-color: #0858b3;
    color: #ffffff;
  }

  .cap small {
    color: #7a7a7a;
  }

  .cap img{
    float: left;
    width: 100%;
  }

  .cap ul {
    float: right;
    width: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .cap li  {
    display: inline-block;
  }

  .cap li a{
    display: block;
    text-align: center;
    padding: 8px 16px;
    color: #ffffff;
    text-decoration: none;
  }

  .cap li a:hover {
    background-color: #8da2b8;
    color: #ffffff;
    margin: 2px;
    text-decoration: underline;
  }

  .menu ul {
    list-style-type: none;
    padding: 0;
    overflow: auto;
    background-color:#92929b;
    width: 100%;
    color: #ffffff;
  }

  .menu li {
    display: inline-block;
    margin-left: 20px;
  }

  .menu li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
  }

  .menu li a:hover {
    color: #ffffff;
    margin: 2px;
    background-color: #a0a0a0;
  }

  .main li p a {
    color: #0858b3;
    text-decoration: none ;
  }

  .main li p a:hover {
    text-decoration: underline;
  }

  .menu p {
    float: right;
    margin-right: 10px;
    color: #ffffff;
    padding: 0px;
    overflow: auto;
  }

  .main {
    float: left;  
    padding: 0 5%;
    width: 70%;
    margin: 4dvb;
  }

  .main h1 {
    margin-top: 40px;
  }

  .main ul li a {
    color: #0858b3;
    text-decoration: none;
  }

  .main ul li a:hover {
    text-decoration: underline;
  }

  .temp {
    width: 10%;
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    text-align: center;
  }
  .temp ul {
    list-style-type: none;
    padding: 0;
  }

  .temp li img {
    display: inline-block;
    margin-left: 10px;
  }

  .temp li a {
    margin-right: 20px;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
  }

  .temp li a:hover {
    color: #ffffff;
    margin: 2px;
    background-color: #c7c2c2;

  }

  .section{
    float: left;
    width: 50%;
    padding: 0 5%;
    margin-bottom: 5%;
  }

  .section p{
    width: 50%;
  }

  .section2 {
    float: right;
    width: 50%;
    padding: 0 5%;
    margin-bottom: 5%;
  }

  .section2 p {
    width:50%
  }

  strong {
    text-shadow: #0858b3;
    color:#0858b3
  }

  h1 {
    color: #0858b3;
  }

  .news {
    margin-bottom: 20px;
  }
  
  .news h2 {
    margin-top: 0;
  }
  
  .news a {
    color: #0858b3;
    text-decoration: none;
  }
  
  .news a:hover {
    text-decoration: underline;
  }
  
  .news p {
    color: #333;
  }
  

  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .cap, .section, .section2, .temp .news, .body {
      width: 100%;
    }
  }